@import url(owl.carousel.css);
@import url(owl.theme.default.css);
body {
  font-family: 'Poppins', sans-serif; }

.cart-icon {
  margin-right: 1rem;
  position: relative;
  top: -0.0625rem; }

.small-slider {
  margin: 0; }

#nav-top {
  padding: 0.9375rem;
  font-size: 0.75rem;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-weight: 700; }
  #nav-top .nav {
    justify-content: flex-end; }
    #nav-top .nav a {
      color: #494949;
      padding-top: 0;
      padding-bottom: 0;
      transition: color 200ms ease; }
      #nav-top .nav a:hover {
        color: #2db99c; }

#main-header {
  padding-top: 1.375rem; }
  #main-header #cart {
    padding-top: 0.6875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1rem;
    text-align: right; }
    #main-header #cart .cost {
      font-size: 1.125rem;
      color: #2db99c;
      margin-bottom: 0.5625rem; }
    #main-header #cart .cart {
      color: #b3b2b2; }
    #main-header #cart .products {
      color: #494949; }
    #main-header #cart .cart, #main-header #cart .products {
      text-transform: uppercase;
      font-size: 0.875rem; }
  #main-header #search-form {
    margin-top: 1.375rem;
    position: relative; }
    #main-header #search-form input {
      font-family: 'Poppins', sans-serif;
      font-size: 1.125rem;
      width: 100%;
      height: 3.3125rem;
      border: 1px solid #d8d4d4;
      padding-left: 1rem;
      color: #3a3a3a; }
    #main-header #search-form button {
      position: absolute;
      right: 0;
      top: 0;
      background: url("../img/icon-eyeglass.png") center center no-repeat;
      width: 3.3125rem;
      height: 100%;
      border: none; }
      #main-header #search-form button:hover {
        cursor: pointer; }
      #main-header #search-form button:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.625rem;
        width: 1px;
        height: 2rem;
        background: #cccccc; }
  #main-header #category-nav {
    border-top: 1px solid #e5e5e5;
    margin-top: 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0; }
    #main-header #category-nav a {
      color: #494949;
      padding: 1.375rem 1.125rem; }
      #main-header #category-nav a:first-child {
        padding-left: 0; }
      #main-header #category-nav a:hover {
        transition: all 200ms ease;
        color: #2db99c; }
    #main-header #category-nav .navbar-toggler-icon {
      background: url("../img/icon-menu.png") no-repeat; }

#main-slider .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px; }
  #main-slider .owl-dots .owl-dot span {
    width: 14px;
    height: 14px;
    background: #fff;
    opacity: 0.5;
    transition: all 200ms ease; }
  #main-slider .owl-dots .owl-dot.active span {
    width: 18px;
    height: 18px;
    opacity: 1; }

.test {
  width: 1.375rem; }

.product-section {
  text-align: center;
  padding-top: 4.0625rem; }
  .product-section h2 {
    line-height: 1rem;
    font-size: 1.5rem;
    color: #494949;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3.4375rem; }
  .product-section.light {
    background: #f7f8fa; }
  .product-section.dark {
    background: #eaebed; }

.recommended-products {
  padding-bottom: 1.8125rem; }

.popular-products {
  padding-bottom: 5rem; }

.product.card {
  border-radius: 9px;
  padding-top: 1.6875rem;
  text-transform: uppercase; }
  .product.card .card-block {
    padding-top: 1.8125rem;
    padding-bottom: 0; }
  .product.card .card-title {
    font-size: 0.875rem;
    font-weight: 700;
    color: #494949;
    margin-bottom: 1.6875rem;
    line-height: 1.125rem; }
  .product.card .price {
    font-family: 'Open Sans', sans-serif;
    color: #2db99c;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3rem;
    margin-bottom: 1.875rem; }
  .product.card .btn {
    width: 100%;
    font-size: 0.875rem;
    color: #b3b2b2;
    font-weight: 700;
    border-top: 1px solid #b3b2b2;
    border-radius: 0;
    padding: 1.5rem 0; }

#recommended-carts-slider {
  position: relative; }
  #recommended-carts-slider .owl-item.center .slide.card {
    transform: scale(1); }
  #recommended-carts-slider .slide.card {
    transform: scale(0.7);
    transition: all 200ms ease;
    width: 441px;
    padding: 0 27px;
    border-radius: 9px;
    background-color: #f7f8fa;
    text-transform: uppercase; }
    #recommended-carts-slider .slide.card .cart-item {
      padding-top: 1.6875rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      padding-left: 60px;
      padding-right: 60px;
      border-bottom: 1px solid #b3b2b2; }
      #recommended-carts-slider .slide.card .cart-item img {
        display: flex;
        width: 42px; }
      #recommended-carts-slider .slide.card .cart-item .desc {
        display: flex;
        flex-direction: column;
        width: 190px;
        margin-top: 12px; }
        #recommended-carts-slider .slide.card .cart-item .desc .title {
          font-size: 1rem;
          font-weight: 700;
          line-height: 24px; }
    #recommended-carts-slider .slide.card .price {
      font-size: 1.875rem;
      font-family: 'Open Sans', sans-serif;
      color: #2db99c;
      font-weight: 700;
      margin-bottom: 0; }
    #recommended-carts-slider .slide.card a.buy-cart {
      display: block;
      padding-top: 30px;
      padding-bottom: 23px; }
      #recommended-carts-slider .slide.card a.buy-cart .price {
        line-height: 22px;
        margin-bottom: 20px; }
      #recommended-carts-slider .slide.card a.buy-cart .cart-icon {
        width: 23px;
        display: inline; }
      #recommended-carts-slider .slide.card a.buy-cart span {
        font-size: 1rem;
        font-weight: 700;
        color: #b3b2b2; }
      #recommended-carts-slider .slide.card a.buy-cart:hover {
        text-decoration: none; }
  #recommended-carts-slider .navigation .customPrev:hover, #recommended-carts-slider .navigation .customNext:hover {
    cursor: pointer; }
  #recommended-carts-slider .navigation .customPrev {
    top: 41%;
    position: absolute;
    left: -70px; }
  #recommended-carts-slider .navigation .customNext {
    top: 41%;
    position: absolute;
    right: -70px; }
  #recommended-carts-slider .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    padding: 44px 0; }
    #recommended-carts-slider .owl-dots .owl-dot span {
      width: 14px;
      height: 14px;
      transition: all 200ms ease;
      background: #000;
      opacity: 0.3; }
    #recommended-carts-slider .owl-dots .owl-dot.active span {
      width: 18px;
      height: 18px;
      opacity: 0.5; }

footer {
  padding-top: 3.125rem;
  background: #fff; }
  footer .row {
    padding-bottom: 3.75rem; }
  footer .bottom {
    border-top: 1px solid #e5e5e5;
    padding: 1.5rem 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #b3b2b2;
    text-align: center;
    margin-bottom: 0; }
  footer h3 {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    color: #494949;
    line-height: 100%;
    margin-bottom: 2.3125rem; }
  footer a {
    font-size: 0.75rem;
    color: #b3b2b2;
    font-weight: 500;
    display: block;
    line-height: 100%;
    margin-bottom: 1.3125rem; }
    footer a:last-child {
      margin-bottom: 0; }
    footer a:hover {
      transition: color 200ms ease;
      color: #494949;
      text-decoration: none; }

.navbar-toggler {
  position: static;
  padding: 0; }
  .navbar-toggler span {
    width: 16px;
    height: 10px; }

.navbar-brand {
  padding-left: 9px !important; }

.nav-container .cart-icon {
  position: absolute;
  right: 0;
  top: 16.5px; }

@media (max-width: 1199px) {
  html {
    font-size: 14px; }

  #recommended-carts-slider {
    margin-top: -90px;
    position: relative; }
    #recommended-carts-slider .slide.card {
      transform: scale(0.5); }
    #recommended-carts-slider .owl-item.center .slide.card {
      transform: scale(0.7); }
    #recommended-carts-slider .owl-dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; }
    #recommended-carts-slider .navigation .customPrev {
      top: 47%;
      left: 0; }
    #recommended-carts-slider .navigation .customNext {
      top: 47%;
      right: 0; } }
@media (max-width: 991px) {
  html {
    font-size: 12px; }

  .product.card {
    margin-bottom: 27px; }
    .product.card .card-img-top img {
      width: 41px; }

  .popular-products {
    padding-bottom: 1rem; }

  #main-header #category-nav a {
    padding-left: 0; } }
@media (max-width: 767px) {
  #main-slider .owl-dots span {
    margin: 3.5px; } }
@media (min-width: 576px) {
  .small-slider {
    display: flex; } }
@media (max-width: 575px) {
  #nav-top .nav {
    justify-content: center;
    font-size: 11px; }

  #main-header #search-form input {
    height: 53px;
    font-size: 9px; }
  #main-header #search-form button:before {
    top: 14.5px; }
  #main-header .nav-container {
    border-top: 1px solid #e5e5e5;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; }
    #main-header .nav-container .cart-icon {
      position: relative;
      margin-right: 0; }
  #main-header #category-nav {
    margin: 0;
    border: 0; }

  .product.card {
    margin: 0 11px; }
    .product.card .card-img-top {
      display: flex;
      justify-content: center; }
      .product.card .card-img-top img {
        width: 49px;
        height: auto; }
    .product.card .card-title {
      font-size: 14px; }
    .product.card .price {
      font-size: 24px; }
    .product.card .cart-icon {
      width: 23px; }
    .product.card a {
      align-items: center;
      display: flex;
      justify-content: center;
      font-size: 14px; }

  .small-slider {
    margin: 0;
    margin-bottom: 25px; }
    .small-slider .navigation .customPrev:hover, .small-slider .navigation .customNext:hover {
      cursor: pointer; }
    .small-slider .navigation .customPrev {
      top: 41%;
      position: absolute;
      left: 0; }
    .small-slider .navigation .customNext {
      top: 41%;
      position: absolute;
      right: 0; }
    .small-slider .navigation .customNext img, .small-slider .navigation .customPrev img {
      width: 10px; }

  .footer-section {
    margin-bottom: 65px; }
    .footer-section:last-child {
      margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
