.navbar-toggler{
	position: static;
	padding: 0;

	span{
		width: 16px;
		height: 10px;
	}
}

.navbar-brand{
	padding-left: 9px !important;
}

.nav-container{
	.cart-icon{
		position: absolute;
		right: 0;
		top: 16.5px;
	}
}

// ============= large ===========
@media (max-width: 1199px){
	
	html{
		font-size: 14px;
	}

	#recommended-carts-slider{
		margin-top: -90px;
		position: relative;
		
		.slide.card{
			transform: scale(0.5);
		}

		.owl-item.center .slide.card {
			transform: scale(0.7);
		}

		.owl-dots{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.navigation{

			.customPrev{
				top: 47%;
				left: 0;
			}

			.customNext{
				top: 47%;
				right: 0;
			}

		}
	}
}

// ============= medium ===========
@media (max-width: 991px){
	
	html{
		font-size: 12px;
	}

	.product.card{
		margin-bottom: 27px;

		.card-img-top img{
			width: 41px;
		}
	}

	.popular-products {
		padding-bottom: 1rem;
	}

	#main-header #category-nav a {
		padding-left: 0;
	}
}

// ============= small ===========
@media (max-width: 767px){

	#main-slider{
		.owl-dots{
			span{
				margin: 3.5px;
			}
		}
	}

}

// ============= extra-small ===========
@media(min-width: 576px){
	.small-slider{
		display: flex;
	}
}
@media (max-width: 575px){

	#nav-top{
		.nav{
			justify-content: center;
			font-size: 11px;
		}
	}
	
	#main-header{
		
		#search-form{
			input{
				height: 53px;
				font-size: 9px;
			}

			button:before{
				top: 14.5px;
			}
		}

		.nav-container{
			border-top: 1px solid #e5e5e5;
			margin-top: 19px;
			display: flex;
			justify-content: space-between;
			padding: 0 20px;

			.cart-icon{
				position: relative;
				margin-right: 0;
			}
		}

		#category-nav{
			margin: 0;
			border: 0;
		}
	}

	.product.card{
		margin: 0 11px;
		
		.card-img-top{
			display: flex;
			justify-content: center;

			img{
				width: 49px;
				height: auto;
			}
		}

		.card-title{
			font-size: 14px;
		}

		.price{
			font-size: 24px;
		}

		.cart-icon{
			width: 23px;
		}

		a{
			align-items: center;
			display: flex;
			justify-content: center;
			font-size: 14px;
		}
	}

	.small-slider{
		margin: 0;
		margin-bottom: 25px;

		.navigation{
		
			.customPrev:hover, .customNext:hover{
				cursor: pointer;
			}

			.customPrev{
				top: 41%;
				position: absolute;
				left: 0;
			}

			.customNext{
				top: 41%;
				position: absolute;
				right: 0;
			}

			.customNext img, .customPrev img{
				width: 10px;
			}

		}
	}

	.footer-section{
		margin-bottom: 65px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}