body{
	font-family: 'Poppins', sans-serif;
}

.cart-icon{
	margin-right: 1rem;
	position: relative;
	top: -0.0625rem;
}

.small-slider{
	margin: 0;
}

// ============= =nav-top =============
#nav-top{
	padding: 0.9375rem;
	font-size: 0.75rem;
	background-color: #eeeeee;
	text-transform: uppercase;
	font-weight: 700;

	.nav{
		justify-content: flex-end;
		
		a{
			color: $black;
			padding-top: 0;
			padding-bottom: 0;
			transition: color 200ms ease;

			&:hover{
				color: $green;
			}
		}
	}

	
}

// ============= =main-header =============
#main-header{
	padding-top: 1.375rem;

	#cart{
		padding-top: 0.6875rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		line-height: 1rem;
		text-align: right;

		.cost{
			font-size: 1.125rem;
			color: $green;
			margin-bottom: 0.5625rem;
		}

		.cart{
			color: $grey;
		}

		.products{
			color: $black;
		}

		.cart, .products{
			text-transform: uppercase;
			font-size: 0.875rem;
		}
	}

	#search-form{
		margin-top: 1.375rem;
		position: relative;

		input{
			font-family: 'Poppins', sans-serif;
			font-size: 1.125rem;
			width: 100%;
			height: 3.3125rem;
			border: 1px solid #d8d4d4;
			padding-left: 1rem;
			color: #3a3a3a;
		}
		
		button{
			position: absolute;
			right: 0;
			top: 0;
			background: url('../img/icon-eyeglass.png') center center no-repeat;
			width: 3.3125rem;
			height: 100%;
			border: none;

			&:hover{
				cursor: pointer;
			}	

			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0.625rem;
				width: 1px;
				height: 2rem;
				background: #cccccc;
			}
		}
	}

	#category-nav{
		border-top: 1px solid #e5e5e5;
		margin-top: 1.25rem;
		font-size: 1rem;
		font-weight: 700;
		padding: 0;
		
		a{
			color: $black;
			padding: 1.375rem 1.125rem;

			&:first-child{
				padding-left: 0;
			}

			&:hover{
				transition: all 200ms ease;
				color: $green;
			}
		}

		.navbar-toggler-icon {
			background: url('../img/icon-menu.png') no-repeat;
		}
	}
} //main-header

// ============= =main-carousel =============
#main-slider{

	.owl-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 18px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 15px;
		
		.owl-dot span{
			width: 14px;
			height: 14px;
			background: #fff;
			opacity: 0.5;
			transition: all 200ms ease;
		}

		.owl-dot.active span{
			width: 18px;
			height: 18px;
			opacity: 1;
		}
	}
} //main-slider

.test{
	width: 1.375rem;
}

// ============= =sections =============
.product-section{
	text-align: center;
	padding-top: 4.0625rem;

	h2{
		line-height: 1rem;
		font-size: 1.5rem;
		color: $black;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 3.4375rem;
	}
	
	&.light{
		background: #f7f8fa;
	}

	&.dark{
		background: #eaebed;
	}
}

.recommended-products{
	padding-bottom: 1.8125rem;
}

.popular-products{
	padding-bottom: 5rem;
}

// ============= =product.card =============
.product.card{
	border-radius: 9px;
	padding-top: 1.6875rem;
	text-transform: uppercase;

	.card-block{
		padding-top: 1.8125rem;
		padding-bottom: 0;
	}

	.card-title{
		font-size: 0.875rem;
		font-weight: 700;
		color: $black;
		margin-bottom: 1.6875rem;
		line-height: 1.125rem;
	}

	.price{
		font-family: 'Open Sans', sans-serif;
		color: $green;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.3rem;
		margin-bottom: 1.875rem;
	}

	.btn{
		width: 100%;
		font-size: 0.875rem;
		color: $grey;
		font-weight: 700;
		border-top: 1px solid $grey;
		border-radius: 0;
		padding: 1.5rem 0;
	}
} //.product.card

// ============= =recommended-carts-slider =============
#recommended-carts-slider{
	position: relative;
	
	.owl-item.center{

		.slide.card{
			transform:scale(1);
		}
	}

	.slide.card{
		transform:scale(0.7);
		transition: all 200ms ease;
		width: 441px;
		padding: 0 27px;
		border-radius: 9px;
		background-color: #f7f8fa;
		text-transform: uppercase;

		.cart-item{
			padding-top: 1.6875rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 20px;
			padding-left: 60px;
			padding-right: 60px;
			border-bottom: 1px solid $grey;

			img{
				display: flex;
				width: 42px;
			}

			.desc{
				display: flex;
				flex-direction: column;
				width: 190px;
				margin-top: 12px;

				.title{
					font-size: 1rem;
					font-weight: 700;
					line-height: 24px;
				}
			}
		} //.cart-item

		.price{
			font-size: 1.875rem;
			font-family: 'Open Sans', sans-serif;
			color: $green;
			font-weight: 700;
			margin-bottom: 0;
		}

		a.buy-cart{
			display: block;
			padding-top: 30px;
			padding-bottom: 23px;

			.price{
				line-height: 22px;
				margin-bottom: 20px;
			}

			.cart-icon{
				width: 23px;
				display: inline;
			}

			span{
				font-size: 1rem;
				font-weight: 700;
				color: $grey;
			}

			&:hover{
				text-decoration: none;
			}
		}
	} 

	.navigation{
		
		.customPrev:hover, .customNext:hover{
			cursor: pointer;
		}

		.customPrev{
			top: 41%;
			position: absolute;
			left: -70px;
		}

		.customNext{
			top: 41%;
			position: absolute;
			right: -70px;
		}

	}
	
	.owl-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 18px;
		padding: 44px 0;
		
		.owl-dot span{
			width: 14px;
			height: 14px;
			transition: all 200ms ease;
			background: #000;
			opacity: 0.3;
		}

		.owl-dot.active span{
			width: 18px;
			height: 18px;
			opacity: 0.5;
		}
	}
	
} //#recommended-carts-slider

// ============= =footer =============
footer{
	padding-top: 3.125rem;
	background: #fff;
	
	.row{
		padding-bottom: 3.75rem;
	}

	.bottom{
		border-top: 1px solid #e5e5e5;
		padding: 1.5rem 0;
		font-size: 0.875rem;
		font-weight: 500;
		color: $grey;
		text-align: center;
		margin-bottom: 0;
	}

	h3{
		text-transform: uppercase;
		font-size: 1.125rem;
		font-weight: 700;
		color: $black;
		line-height: 100%;
		margin-bottom: 2.3125rem;
	}

	a{
		font-size: 0.75rem;
		color: $grey;
		font-weight: 500;
		display: block;
		line-height: 100%;
		margin-bottom: 1.3125rem;

		&:last-child{
			margin-bottom: 0;
		}

		&:hover{
			transition: color 200ms ease;
			color: $black;
			text-decoration: none;
		}
	}
}

